* {
  /* Include the border when measuring widths, content-box is the default */
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

.main-banner {
  background-color: #40291d;
  width: 100%;
  color: #f9f2c1;
  grid-area: header;
  text-align: center;
  display: flex;
  height: 6em;
  align-items: center;
  justify-content: space-around;
}

.main-logo {
  display: flex;
  align-items: center;
}

.main-logo-image {
  height: 1.75em;
}

.main-logo-text {
  font-size: 2.25em;
  font-weight: 600;
  margin-left: 0.25em;
}

.box {
  background-color: #ece1d5;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.pane-title {
  text-transform: uppercase;
  color: #825c30;
  font-size: 1.25em;
  margin-bottom: 1em;
}

/* ITEMS */

.items-pane {
  grid-area: items;
}

.menu-item {
  border-bottom: 2px solid #d9ba94;
  margin-bottom: 1em;
  padding-bottom: 1.5em;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    "amount   sku           price"
    ".        ingredients   .";
}

/* Pseudo-element to override the last child */
.menu-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.menu-item-amount {
  grid-area: amount;
  font-weight: bold;
  font-size: 1.25em;
}

.menu-item-sku {
  grid-area: sku;
  font-weight: bold;
  font-size: 1.25em;
}

.menu-item-price {
  grid-area: price;
  font-weight: bold;
  font-size: 1.25em;
}

.ingredients {
  grid-area: ingredients;
  margin-top: 1em;
}

.ingredient {
  color: #ab8a69;
  margin-top: 0.25em;
  font-size: 1em;
  list-style: none;
}

/* NAME */

.name-pane {
  grid-area: name;
}

.payment-pane {
  grid-area: payment;
}

/* Input fields */

.input-group {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.75em;
}

.text-input {
  background-color: #ece1d5;
  border: 2px solid #825c30;
  /* top right bottom left */
  padding: 0em 1em 0em 1em;
  height: 3em;
  font-size: 1em;
  border-radius: 40px;
  margin-bottom: 0.5em;
}

.wide {
  width: 100%;
}

.text-input-label {
  background-color: #ece1d5;
  color: #825c30;
  font-size: 1em;
  position: absolute;
  left: 25px;
  top: -10px;
  padding: 0 2px;
}

.totals-pane {
  grid-area: totals;
  margin-top: 2em;
}

.totals-line {
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
  margin-bottom: 1.25em;
}

.totals-line:last-child {
  margin-bottom: 0;
}

.place-order-pane {
  grid-area: order;
  text-align: center;
}

.place-order-button {
  border: 0;
  font-size: 1.25em;
  width: 100%;
  height: 2.5em;
  background-color: #d9ba94;
  color: black;
  border-radius: 25px;
}

.total-label,
.total {
  font-weight: bold;
}

.main-page {
  display: grid;
  padding: 3em;
  row-gap: 2em;
  column-gap: 2em;
  background-color: #efefef;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.75fr 0.5fr;
  grid-template-areas:
    "items      items       name        name"
    "items      items       payment     payment"
    ".          totals      totals      ."
    "order      order       order       order";
}
