* {
  /* Include the border when measuring widths, content-box is the default */
  box-sizing: border-box;
}

.grid {
  display: grid;
  /* 1fr stands for 1 fraction unit. It represents a share of the available space in a grid
   * container. */
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.grid-picture {
  margin: 0;
  padding: 0;
}
