* {
  /* Include the border when measuring widths, content-box is the default */
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Arial", "sans-serif";
}

/* Main containers */

.game-main {
  background-color: white;
  display: grid;
  justify-content: center;
}

.game-header {
  display: flex;
  justify-content: center;
}

.game-loading {
  height: 3em;
  margin-bottom: 1em;
  border-bottom: 0.15em solid black;
  display: flex;
  justify-content: center;
}

.game-area {
  font-size: 2em;
}

.refresh-icon {
  height: 1.75em;
  width: 1.75em;
  animation: spin 1s once linear;
  background-image: url("../img/circle-arrow-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wrong-answer {
  animation: flash-wrong 0.5s 1 linear;
}

.row {
  display: grid;
  border: 0.1em solid #ffffff;
  grid-template-columns: repeat(5, 1.5em);
  margin: 0.1em;
  padding: 0.1em;
  gap: 0.3em;
}

.cell {
  height: 1.5em;
  width: 1.5em;
  padding: 0.1em;
  border: 0.1em solid #bbbbbb;
  text-align: center;
}

.exact-match {
  background-color: #336633;
  color: #ffffff;
}

.partial-match {
  background-color: #aa8833;
  color: #ffffff;
}

.no-match {
  background-color: #888888;
  color: #ffffff;
}

.victory-animation {
  animation: rainbow 4s infinite linear;
}

/* Animation Data */

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

@keyframes flash-wrong {
  100%,
  0% {
    border-color: rgb(255, 255, 255);
  }
  50% {
    border-color: rgb(255, 100, 100);
  }
  100% {
    border-color: rgb(255, 255, 255);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
